<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <% include menu %>
        <% if (locals.user) { %>
        <h1>Here are your results <%= user.name %></h1><br>
        <% } %>
        <% entries.forEach((entry) => { %>
            <div class="entry">
                <h3>Title: <%= entry.title %></h3>
                <p>Body: <%= entry.body %></p>
                <p>Posted by <%= entry.username %></p><br>
            </div>
        <% }) %>
    </body>
</html>